#Errorr{
	
	font-family: 'Roboto Condensed', sans-serif;
	    color: white;
	text-align:center;
	
	
}





.ProfileButton{
		
	width:64px;
	height:64px;
	background-image: url("/image/Profile1.png");
	background-size: 30px 30px;
    background-repeat: no-repeat;
	position:relative;
	
	left:16px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
}

body {
      
	margin:0px;
	
	background-attachment: fixed;
                  }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
			position:relative;
	top: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	    color: white;
	text-align:center;
}

li {
margin-left: 50px;
    display: inline;
	
}

h1{
	color:white;
		font-family: 'Roboto Condensed', sans-serif;
}
#background {
	
}
#holder{
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
	float:left;
	width:100%;
}

#CheckProfile{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
	
}
#wrapper {
	position: relative;
	  width: 1200px;
	height:100%;
    margin: 0 auto;
background-image: url("image/background.jpg");
	box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);

}

.userinformation4{

	font-family: 'Archivo Narrow', sans-serif;
	background-color:#29313c;
	width:480px;
	height:80px;
	
	position:relative;
	left:90px;

		margin-right: 30px;
		color:white;
		margin-top: 30px;
	float:left; /* add this */
}

table {
	text-align: center;
	color:white;
    width: 100%;
}

.userinformation5{
color:white;
	font-family: 'Archivo Narrow', sans-serif;
	background-color:#29313c;
	width:225px;
	height:170px;
	float:left;
	position:relative;
	left:90px;

		margin-right: 30px;
		color:white;
		margin-top: 30px;
}



#backgroundwrapper {
	position:fixed;
	background-image:url("image/backimage.png");
 -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

	height:100%;
	width:100%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#API {
	top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;
	top: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	    color: black;
	text-align:center;
	width: 80%;

    font-size:x-large;
	line-height: 1;
    border-radius: 25px;
	
}
#Application {
	background-color:#29313c;
	top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;
	top: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	    color: black;
	text-align:center;
	width: 700px;

    font-size:x-large;
	line-height: 1;
    border-radius: 15px;
	
}
#AboutUs {
	top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;
	top: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	    color: black;
	text-align:center;
	width: 80%;

    font-size:x-large;
	line-height: 1;
    border-radius: 25px;
	
}

#AboutUss {
	top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;
	left:300px;
	top: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	    color: black;
	text-align:center;
	width: 80%;

    font-size:x-large;
	line-height: 1;
    border-radius: 25px;
	
}


#bottomlogo {
	position: absolute; 
	float:bottom;
	bottom:40px;
	left:10px;
}
#userinformation{
	background-color:#29313c;
	width:250px;
	height:200px;
	
	position:relative;
	left:90px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
}
.userinformation{
	background-color:#29313c;
	width:250px;
	height:200px;
	
	position:relative;
	left:90px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
	box-shadow: 5px 5px 2.5px #888888;
}

#NotificationsDIV{
  position: fixed;
  
	
    width: 1130px;
	height:300px;
}
#notificationcentre{
	background-color:#29313c;
	width:570px;
	height:200px;
	
	position:relative;
	left:90px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
}


#Alert{
	
	width:64px;
	height:64px;
	background-image: url("/image/alert.png");
	background-size: 30px 30px;
    background-repeat: no-repeat;
	position:relative;
	
	left:16px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
}

#Alert1{
	
	width:64px;
	height:64px;
	background-image: url("/image/alert1.png");
	background-size: 30px 30px;
    background-repeat: no-repeat;
	position:relative;
	
	left:16px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
}

.textside{
	position: relative;
	left:-14px;
	top:33px;
}

#SupportButton{
	
	width:64px;
	height:64px;
	background-image: url("/image/Support.png");
	background-size: 30px 30px;
    background-repeat: no-repeat;
	position:relative;
	
	left:19px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
}


#headerapp{
	
	max-width:1170px;
	width:90%;
	height:80px;
	
	position:relative;
	left:60px;

	margin-left: 30px;
		margin-right: 30px;
		color:white;
		margin-top: 30px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* ============================================================
  SWITCH 3 - YES NO
============================================================ */
input.cmn-toggle-yes-no + label {
  padding: 2px;
  width: 120px;
  height: 60px;
}
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}



#userinformation2{
	color:white;
	width:500px;
	height:50px;
	top: 40px;
	position:relative;
	left:90px;
	 float: center;

}

#userloggedininfo{
	background-color:#29313c;

	height:30px;
	bottom: 0px;
	position:fixed;
	    width: 100%;
      position: fixed;
  

	
		
		color:white;

}

#usagestats{
	background-color:#29313c;
	width:45%;
	min-width:270px;
	height:200px;
	
	position:relative;
	left:90px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;

}

#activitylog{
	background-color:#29313c;
	width:45%;
	min-width:270px;
	height:200px;
	
	position:relative;
	left:90px;
	float: left;
		margin-right: 30px;
		color:white;
		margin-top: 30px;

}

#sidecontrol {
	position: fixed;
	width: 70px;
	float:left;
    background: rgb(54, 25, 25); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(54, 25, 25, .5);
top:30px;
	height:100%;
}

#controller{
	   -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#ContactUs {
	top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;
	top: 5px;
	font-family: 'Archivo Narrow', sans-serif;
	    color: black;
	text-align:center;
	width: 80%;

    font-size:x-large;
	line-height: 1;
    border-radius: 25px;
	padding-bottom: 25px;
	
}

#logocontainer{
		   margin-left: 18%;
    margin-right: auto; 
	width: 100px;
	height:110px;
}

#logoholder{
	position:relative;
	
}
#title{
 position: relative;
  width: 400px;
text-align: left;

  bottom:100px;
  left:110px;
	
}


#login{
	
top: 20px;
	   margin-left: auto;
    margin-right: auto; 


  
    padding: 0;
			position:relative;

	font-family: 'Archivo Narrow', sans-serif;
	    color: black;
	text-align:center;
	width: 80%;

    font-size:x-large;
	line-height: 1;
    border-radius: 25px;
}

#logincenter{
	
	position:relative;
	    margin-left: auto;
    margin-right: auto;
	width: 200px;
	height:200px;
	background:white;
	z-index:1000;
}



a:link {
    color: white;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
	text-decoration: none;
}

/* mouse over link */
a:hover {
   color: white;
	text-decoration: none;
}

/* selected link */
a:active {
  color: white;
	text-decoration: none;
}



#backimage{
	
	width:100%;
	height: 60%;
	position: relative;
	
	background-image: url("image/backimage.png");
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#MotorHolder{
	  color: white;
    border-radius: 10px;
		margin: 20px;
	width:300px;
	height: 118px;
	position: relative;
	float:left;
	background-color: #333333;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: 'Archivo Narrow', sans-serif;
}

#LEDHolder{
  color: white;
    border-radius: 10px;
		margin: 20px;
		width:300px;
	height: 118px;
	position: relative;
	float:left;
	background-color: #333333;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: 'Archivo Narrow', sans-serif;
}

#SliderHolder{
	   color: white; 
  
		margin: 20px;
	width:300px;
	height: 150px;
	position: relative;
	float:left;
	background-color: #333333;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: 'Archivo Narrow', sans-serif;
}

#on{
	  
  color: white;
	width:100%;
	height: 50px;
	position: relative;

	background-color: green;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: 'Archivo Narrow', sans-serif;
}

#off{
	  
  color: white;
	width:100%;
	height: 50px;
	position: relative;

	background-color: red;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	font-family: 'Archivo Narrow', sans-serif;
}

#PhidgetsHolder{
	  color: white;
    width: 80%;
    margin: 0 auto;

}

#onbutton{
	border-bottom-left-radius: 10px;
	

	float:left;
	border-left-width:0px;
	background-color: #333333;
	width:49.7%;
	height:50px;
		position:relative;
}
#offbutton{
		border-bottom-right-radius: 10px;
	  

	float:right;
	background-color: #333333;
	width:49.7%;
	height:50px;
	position:relative;
}

#RFIDHolder{
  color: white;	
    border-radius: 10px;
	margin: 20px;
		width:300px;
	height: 150px;
	position: relative;
	float:left;
	font-family: 'Archivo Narrow', sans-serif;
	background-color: #333333;
	  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#nav{
 position: relative;
	width:100%;
	height:30px;

	text-align: left;
  background: rgba(0, 0, 0, 0.6);
  border: 0;
	z-index: 20;

}

#navtext{
left:-38px;
	background-colour: pink;
	position:relative;
}
#content{
	position:relative;
	
	margin:auto;
	width: 1160px;
	height: 90%;
float:left;

	text-align:center;
	
}
#content2{
	position: relative;
	top:62px;
	left:695px;
	width: 400px;
	height: 430px;


	text-align:center;
		background-color:#29313c;
}

#content3{
	position: relative;
	top:91px;
	left:695px;
	width: 400px;
	height: 430px;


	text-align:center;
		background-color:#29313c;
}
	



.navbar-inverse {
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  border: 0;
}
.navbar-inverse.black {
  background: rgba(0, 0, 0, 0.85);
}
@media (max-width: 480px) {
  .navbar-inverse {
    background: rgba(0, 0, 0, 0.85);
  }
}